<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>考试报名页面</title>
</head>
<body>
<a href="/index">返回首页</a>

<!--cet系列-->
<div style="background-color: #fbc531;height: 200px;width: 100%;margin-top: 30px">
    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
       <div >考试介绍</div>
      <div ><span >全国大学英语四、六级考试(CET)系教育部主办、教育部考试中心主持和实施的一项大…</span></div>
      <div ><a href="/to_cet1">详细&gt;&gt;</a></div>
    </div>

    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >CET口试</div>
        <div ><span >CET笔试每年开考两次，分别于6月和12月举行，具体考试时间我中心将会在每年年初…</span></div>
        <div ><a href="/to_cet2">详细&gt;&gt;</a></div>
    </div>

    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >CET笔试</div>
        <div ><span >CET笔试每年开考两次，分别于6月和12月举行，具体考试时间我中心将会在每年年初…</span></div>
        <div ><a href="/to_cet3">详细&gt;&gt;</a></div>
    </div>
    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div>考生服务</div>

        <div ><a href="/online_rigistration?test_name=cet">在线报名&gt;&gt;</a></div>
        <div ><a href="">成绩查询&gt;&gt;</a></div>
        <div ><a href="">准考证下载&gt;&gt;</a></div>
    </div>

</div>

<!--计算机等级考试系列-->
<div style="background-color: #1E90FF;height: 200px;width: 100%;margin-top: 30px">
    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >考试介绍</div>
        <div ><span >全国计算机等级考试（National Computer Rank Examination，简称NCRE），是经原国家教育委员会…</span></div>
        <div ><a href="/to_ncre1">详细&gt;&gt;</a></div>
    </div>

    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >考生须知</div>
        <div ><span >　1.考生按照省级承办机构公布的报名流程进行网上报名。（1）考生凭有效身份证件进…</span></div>
        <div ><a href="/to_ncre2">详细&gt;&gt;</a></div>
    </div>

    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >大纲教材</div>
        <div ><span >全国计算机等级考试（NCRE）考试大纲及教材目录（2020年版）</span></div>
        <div ><a href="/to_ncre3">详细&gt;&gt;</a></div>
    </div>

    <div style="background-color: #f1e9de;width: 200px;height:85%;padding-left:18px;margin-top: 15px;margin-left: 20px;float: left">
        <div >考生服务</div>

        <div ><a href="/online_rigistration?test_name=ncre">在线报名&gt;&gt;</a></div>
        <div ><a href="">成绩查询&gt;&gt;</a></div>
        <div ><a href="">准考证下载&gt;&gt;</a></div>
    </div>
</div>

</body>
</html>